<app-menu>
    <mat-card class="alunos-container">
        <mat-card-title>Lista de Alunos</mat-card-title>
        
        <mat-table #table [dataSource]="dataSource" matSort>
          
          <!-- Nome -->
          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let aluno"> {{ aluno.nome }} </mat-cell>
          </ng-container>
      
          <!-- Ativo -->
          <ng-container matColumnDef="ativo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Ativo </mat-header-cell>
            <mat-cell *matCellDef="let aluno"> 
              {{ aluno.ativo ? 'Sim' : 'Não' }} 
            </mat-cell>
          </ng-container>
      
          <!-- Botão Editar -->
          <ng-container matColumnDef="editar">
            <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
            <mat-cell *matCellDef="let aluno">
              <button mat-icon-button color="primary" (click)="editAluno(aluno)">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
      
          <!-- Botão Ativar/Inativar -->
          <ng-container matColumnDef="toggleAtivo">
            <mat-header-cell *matHeaderCellDef> Ativar/Inativar </mat-header-cell>
            <mat-cell *matCellDef="let aluno">
              <button mat-icon-button (click)="toggleAtivo(aluno)">
                <mat-icon [color]="aluno.ativo ? 'warn' : 'accent'">{{ aluno.ativo ? 'block' : 'check_circle' }}</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      
        <!-- Paginação -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </mat-card>
      
</app-menu>