.alunos-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  mat-table {
    width: 100%;
  }
  
  mat-header-cell, mat-cell {
    padding: 10px;
  }
  
  mat-header-cell {
    font-weight: bold;
    text-align: center;
  }
  
  mat-cell {
    text-align: center;
  }
  
  mat-icon {
    cursor: pointer;
  }
  