<div class="loading-overlay" *ngIf="this.loading">
  <mat-progress-spinner mode="indeterminate" />
</div>
<app-menu>
  <mat-card class="upload-card">
    <mat-card-content>
      <div class="card-title">
        <mat-card-title>Upload de Planilha de Alunos</mat-card-title>
      </div>
      
      <!-- Import button -->       
      <input type="file" #fileInput id="fileInput" (change)="onFileChange($event)" accept=".xlsx, .xls">
      <label for="fileInput" class="upload-label">
        <mat-icon class="upload-icon">cloud_upload</mat-icon>
        Selecionar Arquivo
      </label>    

      <!-- Remove button -->
      <div *ngIf="selectedFile" class="file-info">
        <span>{{ selectedFile.name }}</span>
        <button mat-icon-button color="warn" (click)="limparArquivo(fileInput)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      
      <div class="upload-button-container">
        <button mat-raised-button color="primary" (click)="uploadFile()" [disabled]="!selectedFile">
          Inserir Alunos
        </button>
        <button mat-raised-button color="primary" (click)="downloadFileModel()">
          Baixar Modelo
        </button>
      </div>
      
      <p *ngIf="uploadSuccess" class="upload-success">Arquivo enviado com sucesso!</p>
      <p *ngIf="uploadError" class="upload-error">{{ uploadError }}</p>
    </mat-card-content>
  </mat-card>
</app-menu>