<mat-sidenav-container class="sidenav-container">
    <!-- Menu Lateral -->
    <mat-sidenav #sidenav mode="side" opened>
      <mat-toolbar class="sidenav-header">Bem vindo, {{ tenantName }}</mat-toolbar>

      <!-- Home -->
      <mat-list-item (click)="navigateTo('dashboard')">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </mat-list-item>

      <ng-container *ngFor="let item of menuItems">
        <!-- Se o item NÃO tem submenus -->
        <mat-list-item *ngIf="!item.children?.length" (click)="navigateTo(item.route)">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </mat-list-item>

        <!-- Se o item TEM submenus -->
        <mat-expansion-panel [expanded]="expandedPanels[item.id]">
          <mat-expansion-panel-header>
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.label }}</span>
          </mat-expansion-panel-header>

          <mat-list>
            <mat-list-item *ngFor="let child of item.children" (click)="navigateTo(child.route)">
              <mat-icon>{{ child.icon }}</mat-icon>
              <span>{{ child.label }}</span>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </ng-container>
  
      <!-- Botão de Logout fixo no final do menu -->
      <div class="logout-container">
        <mat-list-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </mat-list-item>          
      </div>
    </mat-sidenav>
  
    <!-- Conteúdo Principal -->
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
  
      <div class="content">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  